<!DOCTYPE html>
<html>

<head>
    <title>House Price Predictor</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="max-h-screen">
    <div class="header p-1 px-10 flex justify-between items-center shadow-md mb-1 font-sans">
        <a href="https://www.digitalneurons.site/"> <img
                src="{{ url_for('static', filename='assets/logo_side_name3.png') }}" alt="DN logo"
                class="w-64 h-20 "></a>
        <h2 class=" text-4xl font-bold ">House Price Prediction</h2>

        <div class="icons flex gap-2 ">
            <a
                href="https://github.com/abidkk/Machine-Learning-Algos/tree/main/Regression/Web_predicted_house_price_multi_v">
                <img src="{{ url_for('static', filename='assets/icons/social/github.png') }}" alt="github"
                    class="w-8 h-8  cursor-pointer hover:scale-105 duration-500">
            </a>
            <a href="https://www.linkedin.com/in/abidkk/">
                <img src="{{ url_for('static', filename='assets/icons/social/linkedin.png') }}" alt="linkedin"
                    class="w-8 h-8  cursor-pointer hover:scale-105 duration-500">
            </a>
            <a href="https://www.youtube.com/@digitalneurons5">
                <img src="{{ url_for('static', filename='assets/icons/social/youtube.png') }}" alt="youtube"
                    class="w-8 h-8 cursor-pointer hover:scale-105 duration-500">
            </a>
        </div>
    </div>


    <div class="mian flex  justify-center h-full">
        <!-- Left Side -->
        <div class="leftside w-[40%] h-[] items-center flex justify-center h-full">
            <img src="{{ url_for('static', filename='assets/house.jpg') }}" alt="House Image"
                class="w-[600px] h-[600px] py-5">
        </div>

        <!-- Right Side -->

        <div class="rigtside w-[60%]  p-4">
            <p class="font-bold text-gray-800 text-center  p-2">Please provide below details to predict House
                Price</p>
            <div class="house_form py-5">
                <!-- Form -->
                <form method="POST" class="bg-gray-50 p-4 grid grid-cols-3 rounded-md ">
                    <div class="f1">
                        <label class="text-gray-800">Area (sq ft):</label><br>
                        <input type="text" name="area" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300"
                            placeholder="5000"><br><br>
                    </div>

                    <div class="f2">
                        <label>Bedrooms</label><br>
                        <input type="number" name="bedrooms" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300"
                            placeholder="3"><br><br>
                    </div>

                    <div class="f3">
                        <label class="text-gray-800">Bathrooms</label><br>
                        <input type="number" name="bathrooms" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300"
                            placeholder="4"><br><br>
                    </div>

                    <div class="f4">
                        <label class="text-gray-800">Stories</label><br>
                        <input type="number" name="stories" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300"
                            placeholder="2"><br><br>
                    </div>

                    <div class="f5">


                        <label class="text-gray-800">Guestroom (1 = Yes, 0 = No):</label><br>
                        <input type="number" name="guestroom" min="0" max="1" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300" placeholder="1">
                        <br><br>

                    </div>

                    <div class="f6">

                        <label class="text-gray-800">Basement (1 = Yes, 0 = No):</label><br>
                        <input type="number" name="basement" min="0" max="1" required
                            class="py-1 px-2 bg-white border border-2 rounded-sm border-gray-300"
                            placeholder="0"><br><br>

                    </div>

                    <button type="submit" class="cursor-pointer bg-transparent border-none">
                        <img src="{{ url_for('static', filename='assets/icons/coin.png') }}" alt="predict"
                            class="w-14 h-14 my-2 hover:shadow-md duration-500 rounded-full ">
                    </button>

                </form>
            </div>

            <!-- outputs -->
            <div class="icon_setion flex gap-4 bg-gray-50 px-2 rounded-sm justify-center py-2 ">

                <!-- 01 area -->
                <div
                    class="area-sec bg-gray-100 rounded-md py-2 px-4 text-center w-28 flex flex-col justify-center items-center ">
                    <p class="py-1 underline">Area (Sqft)</p>
                    <img src="{{ url_for('static', filename='assets/icons/area.png') }}" alt="bedroom"
                        class="w-12 h-12 my-2">

                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if area %}
                        <span>{{ area }}</span>
                        {% endif %}
                    </p>
                </div>
                <!-- 02 bedroom -->
                <div
                    class="bedroom-sec bg-gray-100 rounded-md py-2 px-4 text-center w-28 flex flex-col justify-center items-center">
                    <p class="py-1 underline">Bedrooms</p>
                    <img src="{{ url_for('static', filename='assets/icons/bedroom.png') }}" alt="bedroom"
                        class="w-14 h-14 my-2">

                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if bedrooms %}
                        <span>{{ bedrooms }}</span>
                        {% endif %}
                    </p>

                </div>

                <!-- 03 bathroom -->
                <div
                    class="bathroom-sec bg-gray-100 rounded-md py-2 px-4 text-center w-28 flex flex-col justify-center items-center">
                    <p class="py-1 underline">Bathrooms</p>
                    <img src="{{ url_for('static', filename='assets/icons/washroom2.png') }}" alt="bedroom"
                        class="w-14 h-14 my-2">
                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if bathrooms %}
                        <span>{{ bathrooms }}</span>
                        {% endif %}
                    </p>
                </div>

                <!-- 04 Storey -->
                <div
                    class="storey-sec bg-gray-100 rounded-md py-2 px-4 text-center w-28 flex flex-col justify-center items-center">
                    <p class="py-1 underline">Storey</p>
                    <img src="{{ url_for('static', filename='assets/icons/storey.png') }}" alt="bedroom"
                        class="w-14 h-14 my-2">
                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if stories %}
                        <span>{{ stories }}</span>
                        {% endif %}
                    </p>
                </div>

                <!-- 05 guestroom -->
                <div
                    class="guestroom-sec bg-gray-100 rounded-md py-2 px-4 text-center min-w-28 flex flex-col justify-center items-center">
                    <p class="py-1 underline">Guest Room</p>
                    <img src="{{ url_for('static', filename='assets/icons/guestroom.png') }}" alt="bedroom"
                        class="w-14 h-14 my-2">
                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if guestroom %}
                        <span>{{ guestroom }}</span>
                        {% endif %}
                    </p>
                </div>

                <!-- 06 basement -->
                <div
                    class="basement-sec bg-gray-100 rounded-md py-2 px-4 text-center w-28 flex flex-col justify-center items-center">
                    <p class="py-1 underline">Basement</p>
                    <img src="{{ url_for('static', filename='assets/icons/basement.png') }}" alt="bedroom"
                        class="w-14 h-14 my-2">
                    <p class="pt-2 border-t-2 border-white text-lg text-blue-800">
                        {% if basement %}
                        <span>{{ basement }}</span>
                        {% endif %}
                    </p>
                </div>

            </div>

            <div class="text-center text-center pt-8 pb-2 text-red-600 text-xl ">
                {% if prediction %}
                <h3>Predicted Price: <b>{{ prediction }}</b></h3>
                {% endif %}
            </div>

        </div>
    </div>
</body>

</html>